# Copy this file to postgres.env, then update the values below
# The database you want to create
POSTGRES_DB: csc323
# The default Postgres User (DO NOT CHANGE)
POSTGRES_USER: csc323
# The password for the above user
POSTGRES_PASSWORD: xxxxx
# The email you will use to log into pgadmin
PGADMIN_DEFAULT_EMAIL: your_email_here
# The password for the above user
PGADMIN_DEFAULT_PASSWORD: xxxx
